<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Find a buddy</h1>
  </div>
</header>

<div class="container">
  <div ng-show="isLoggedIn() && nearMe">
    <b>Bikers near me</b>
    <p ng-repeat="item in nearMe">
      <b>name</b>: {{item.name}} <br/>
      <b>email</b>: {{item.email}} <br/>
      <b>zip</b>: {{item.zip}} <br/>
      <a ng-show="item.athlete"
        href="http://www.strava.com/athletes/{{item.athlete}}"> {{item.name}} on strava.com </a><br/>
      <a ng-show="item.commute"
        href="http://www.strava.com/activities/{{item.commute}}"> Check out how they Commute! </a>
    </p>
  </div>
  <form class="location-form">
    <label>We will match you with commuters within 1km of work and 5km of home.</label>
    <p class="input-group">
      <b class="input-group-addon">Home</b>
      <input type="text" class="form-control" ng-autocomplete ng-model="home.result" options="home.options" details="home.details"/>
    </p>
    <p class="input-group">
      <b class="input-group-addon">Work</b>
      <input type="text" class="form-control" ng-autocomplete ng-model="work.result" options="work.options" details="work.details"/>
    </p>
    <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="getSimilar()">Find a buddy</button>
    </span>

    <p ng-repeat="item in similar">
      <b>name</b>: {{item.name}} <br/>
      <b>email</b>: {{item.email}} <br/>
      <b>zip</b>: {{item.zip}} <br/>
      <a ng-show="item.athlete"
        href="http://www.strava.com/athletes/{{item.athlete}}"> {{item.name}} on strava.com </a><br/>
      <a ng-show="item.commute"
        href="http://www.strava.com/activities/{{item.commute}}"> Check out how they Commute! </a>
    </p>
  </form>
</div>

<footer class="footer">
  <p> Saving the world, one workday at a time. </p>
  <div class="container">
      <p><a href="https://twitter.com/ericedem">@ericedem</a> |
         <a href="https://git.corp.yahoo.com/ericedem/bikebuddy/issues">Issues</a></p>
  </div>
</footer>
